//main styles
.main-wrapper
	padding 0 0 0 0
	min-width $min-width
	width 100%
	position relative
	overflow hidden
	min-height 100%
	display flex
	flex-direction column
	justify-content flex-start	

.wrapper
	min-width $min-width
	max-width $max-width
	padding 0 40px 0 40px
	margin 0 auto
	position relative

/* titles */
p
	font($base-font-size, $base-line-height, $text-color, $custom-font-family, 400)
	padding 15px 0 15px 0

h1
	font($font-size-h1, $line-height-h1, $title-color, $custom-font-family, 700)
	padding 15px 0 15px 0

h2
	font($font-size-h2, $line-height-h2, $title-color, $custom-font-family, 700)
	padding 15px 0 15px 0

h3
	font($font-size-h3, $line-height-h3, $title-color, $custom-font-family, 700)
	padding 15px 0 15px 0

/* styles */
.main
	min-width $min-width
	width 100%
	order 2
	flex-grow 1

