$white = #ffffff
$black = #000000
$accent = green
$title-color = green
$text-color = #000000
$link-color = #100da9

$min-width = 320px
$max-width = 1200px
$base-bg = #FFFFFF
$base-font-size = 14px
$base-line-height = 18px
$base-font-family = Arial, sans-serif
$custom-font-family = 'Open Sans', sans-serif
$default-transition = all 0.25s ease-out

$font-size-h1 = 36px
$line-height-h1 = 42px
$font-size-h2 = 32px
$line-height-h2 = 37px
$font-size-h3 = 28px
$line-height-h3 = 32px